<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
	<link href="~/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css" rel="stylesheet" />
	<link href="~/Content/main.css" rel="stylesheet" />
	@RenderSection("css", true)
</head>
<body ng-app="APP">
	<header class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">@ViewBag.Title</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a href="/SubjectList">Дисциплины</a>
					</li>
					<li>
						<a href="/Departments">Кафедры и направления подготовки</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right" ng-controller="userOptionsController">
					<li class="dropdown" ng-if="isLoggedIn()">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{userName}} ({{role}})<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#" ng-click="logout()">Выйти</a></li>
						</ul>
					</li>
					<li ng-if="!isLoggedIn()"><a href="/Login">Войти в систему</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</header>
	<div class="main-content">
		@RenderBody()
	</div>
	<div class="error-container">
		<script type="text/ng-template" id="error.html">
			<div class="modal-header">
				<h3 class="modal-title" id="modal-title" ng-if="errors.length === 1">Произошла ошибка!</h3>
				<h3 class="modal-title" id="modal-title" ng-if="errors.length !== 1">Произошли ошибки!</h3>
			</div>
			<div class="modal-body" id="modal-body">
				<ul>
					<li ng-repeat="error in errors track by $index">
						<span ng-if="!!error.FieldName">Ошибка в поле "{{error.FieldName}}": {{error.Text}}</span>
						<span ng-if="!error.FieldName">{{error.Text}}</span>
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" type="button" ng-click="ok()">OK</button>
			</div>
		</script>
	</div>
	<script>
	</script>
	<script src="~/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>
	<script src="~/node_modules/angular/angular.js"></script>
	<script src="~/node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
	<script src="~/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
	<script src="~/AngularApp/app.js"></script>
	<script src="~/AngularApp/Services/baseService.js"></script>
	<script src="~/AngularApp/Services/errorService.js"></script>
	<script src="~/AngularApp/Controllers/errorController.js"></script>
	<script src="~/AngularApp/Controllers/userOptionsController.js"></script>
	<script src="~/AngularApp/Services/loginService.js"></script>
	@RenderSection("scripts", true)
</body>
</html>